.Curso-Diplomas p{
    font-family: sans-serif;
}
.logo_inicio {
    position: relative;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logo-img-titulos {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: -5rem;
}

.logo_inicio h1 {
    position: relative;
    color: white;
    font-size: 2.5rem;
    z-index: 2;
}


.typewriter-animation {
  --steps: 20; 
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid rgba(255,255,255,.75);
  animation:
    typewriter5 2s steps(var(--steps)) 1 forwards,
    blinkingCursor 0.75s step-end infinite;
}

@keyframes typewriter5 {
  from { width: 0; }
  to { width: 60%; }
}

@keyframes blinkingCursor {
  0%, 50% { border-right-color: rgba(255,255,255,.75); }
  51%, 100% { border-right-color: transparent; }
}
.contenedor-txt-img{
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 100%; 

}
.contenedor-txt-img img {
    width: 600px;
    left: -10rem;
}
.diploma-text{
    padding: 2rem;
    width: 500px;
    text-align: justify;
    margin-bottom: 0px;
}

.contendor-diplomado-curs {
    display: flex;
    position:static;
    overflow: hidden;
    margin: 100px auto;
    width: 100%;
    height: 600px;
}

.group {
    display: flex;
    gap: .1em;
    animation: spin 50s linear infinite;
}

@keyframes spin {
    from { transform: translateX(0); }
    to { transform: translateX(-70%); }
}

.diplomado-curso {
    position:static;
    width: 260px;
    padding: 4em;
    margin-bottom: 2rem;
    font-size: 1rem;
    border: .2em;
    text-align: center;
    align-content: center;
}
.diplomado-curso h1{
    position: relative;
    left: 12rem;
    top: -7.7rem;
    color: rgb(0, 0, 0);
    border-radius: .7rem;
    width: 200px;
    font-size: 15px;
}
.diplomado-curso p{ 
    position: relative;
    background-color: white;
    color: #111111;
    font-family: 'robot', 'sans-serif';
    font-size: 0.9rem;
    top: 7.5rem;
    left: 10rem;
    width: 250px;
    height: auto;
    z-index: 2;
}

.curs-diploma-img{
    position: absolute;
    margin: 20px auto;
    top: -0.3rem;
    width: 320px;
    height: 500px;
    z-index: -2;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.63);
}

@media (max-width:780px) {
    .logo_inicio >h1{
        font-size: 1rem;
    }
    @keyframes typewriter5 {
        from { width: 0; }
        to { width: 65%; }
    }
    .contenedor-txt-img{
        display: list-item;
        width: 98%;
        columns: 1;
    }
    .contenedor-txt-img>img{
        width: 90%;
        margin-left: .5rem;
        padding: 1rem;
    }
    .diploma-text{
        position: relative;
        font-size: 1rem;
        width: 85%;
    }
    .contendor-diplomado-curs{
        height: 100%;
        margin: 0;
    }
    .diplomado-curso{
        margin-top: 5rem;
    }
    .diplomado-curso>p{
        top: 3.5rem;
    }
    .group {
        display: flex;
        animation: spin 45s linear infinite;
    }
    @keyframes spin {
    from { transform: translateX(-2%); }
    to { transform: translateX(-80%); }
}
    .curs-diploma-img{
        margin-top: 0.6rem;
        width: 5%;
        height: 95%;
    }
}