.Curso-Diplomas p{
    font-family: sans-serif;
}
.logo_inicio {
    position: relative;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logo-img-titulos {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: -5rem;
}

.logo_inicio h1 {
    position: relative;
    color: white;
    font-size: 2.5rem;
    z-index: 2;
}


.typewriter-animation {
  --steps: 20; 
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid rgba(255,255,255,.75);
  animation:
    typewriter5 2s steps(var(--steps)) 1 forwards,
    blinkingCursor 0.75s step-end infinite;
}

@keyframes typewriter5 {
  from { width: 0; }
  to { width: 60%; }
}

@keyframes blinkingCursor {
  0%, 50% { border-right-color: rgba(255,255,255,.75); }
  51%, 100% { border-right-color: transparent; }
}
.contenedor-txt-img{
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 100%; 

}
.contenedor-txt-img img {
    width: 600px;
    left: -10rem;
}
.diploma-text{
    padding: 2rem;
    width: 500px;
    text-align: justify;
    margin-bottom: 0px;
}

.contendor-diplomado-curs {
    display: flex;
    position:static;
    overflow: hidden;
    margin: 100px auto;
    width: 100%;
    height: 600px;
}

.group {
    display: flex;
    gap: .1em;
    animation: spin 50s linear infinite;
}

@keyframes spin {
    from { transform: translateX(0); }
    to { transform: translateX(-70%); }
}

.diplomado-curso {
    position:static;
    width: 260px;
    padding: 4em;
    margin-bottom: 2rem;
    font-size: 1rem;
    border: .2em;
    text-align: center;
    align-content: center;
}
.diplomado-curso h1{
    position: relative;
    left: 12rem;
    top: -7.7rem;
    color: rgb(0, 0, 0);
    border-radius: .7rem;
    width: 200px;
    font-size: 15px;
}
.diplomado-curso p{ 
    position: relative;
    background-color: white;
    color: #111111;
    font-family: 'robot', 'sans-serif';
    font-size: 0.9rem;
    top: 7.5rem;
    left: 10rem;
    width: 250px;
    height: auto;
    z-index: 2;
}

.curs-diploma-img{
    position: absolute;
    margin: 20px auto;
    top: -0.3rem;
    width: 320px;
    height: 500px;
    z-index: -2;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.63);
}

@media (max-width:780px) {
    .Curso-Diplomas div{
        display: block;
        position: relative;
    }
    .Curso-Diplomas p{
        font-family: sans-serif;
    }
    .logo-img-titulos{
        display: inline-flex;
        position: relative;
        top: -50px;
        width: 100%;
        max-height: 350px;
        z-index: -1;
    }

    .logo_inicio h1 {
        position: absolute;
        width: 100%;
        top: 30%;
        left: 30;
        color: rgb(255, 255, 255);
        z-index: 1;
        font-size: 1.5rem;
    }

    .typewriter-animation {
    --steps: 20; 
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    animation:
        typewriter 2s steps(var(--steps)) 1 forwards,
        blinkingCursor 0.75s step-end infinite;
    }

    @keyframes typewriter {
    from { width: 0; }
    to { width: 65%; }
    }

    @keyframes blinkingCursor {
    0%, 50% { border-right-color: rgba(255,255,255,.75); }
    51%, 100% { border-right-color: transparent; }
    }
    .contenedor-txt-img{
        max-width: 100%;
    }
    .contenedor-txt-img img{
        width: 600px;
    }
    .diploma-text{
        display: block;
        width: 500px;
        text-align: justify;
        transform: translate(780px , -300px);
    }
    .contendor-diplomado-curs{
        display: inline-flex;
        position: absolute;
        align-items:center;
        top: -70px;
        height: 400px;
    }
    .diplomado-curso{
        display: block;
        transform: translateX(30px);
        font-size: 5px;
        width: 300px;
        margin-bottom: 2rem;
        border-radius: 10px;
        border: 2px solid rgb(207, 205, 205);
        background-color: rgb(163, 161, 161);
    }
    .diplomado-curso h1, .diplomado-curso p{
        transform: translateX(15px);
        text-align: center;
        width: 250px;
        background-color: aliceblue;
        border: 6px solid aliceblue;
        border-radius: 5px;
    }
    .diplomado-curso h1{
        font-size: 15px;
    }
    .curs-diploma-img{
        transform: translate(15px);
        width: 260px;
        height: 300px;
        border-radius: 10px;
    }
    .contendor-diplomado-curs {
        display: flex;
        gap: 20px;
        overflow: hidden; 
        width: 100%;
        scroll-behavior: smooth;
    }

    .diplomado-curso {
        flex: 0 0 auto; 
        min-width: 300px;
        transition: transform 0.5s ease;
    }

}