body {
    background: #f7f4f1;
    color: #2e2e2e;
  }
  
  .Principal {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px 80px;
  }
  /* BENEFICIOS */
  .section-title {
    text-align: center;
    font-size: 48px;
    margin: 60px 0 36px;
    font-weight: 500;
  }
  
  .beneficios-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
  }
  
  .beneficio-card {
    background: rgba(255,255,255,0.8);
    border-radius: 22px;
    padding: 34px 28px;
    text-align: center;
    box-shadow: 0 12px 30px rgba(0,0,0,0.06);
  }
  
  .beneficio-icon {
    color: #1f5a5d;
    margin-bottom: 18px;
  }
  
  .beneficio-card h3 {
    font-size: 22px;
    margin-bottom: 14px;
    font-weight: 500;
  }
  
  .beneficio-card p {
    font-size: 17px;
    line-height: 1.5;
    color: #666;
  }
  /*ANIMACION SUAVE BENEFICIOS-CARD Y BENEFICIOS-GRID*/
  .beneficio-card:hover{
    transform: scale(1.05);
    transition: .6s;
  }
  .curso-card:hover{
    transform: scale(1.05);
    transition: 0.6s;
  }
  /* Animación base */
  .hero,
  .beneficios,
  .servicios{
    opacity: 0;
    transform: translateY(40px);
    animation: aparecer 0.8s ease forwards;
  }
  /* DELAY */
  .hero{animation-delay: 0.2s;}
  .beneficios{animation-delay: 1s;}
  .servicios{animation-delay: 1.8s;}
  /* KEYFRAMES */
  @keyframes aparecer{
    to{
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* CURSOS */
  .servicios-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 45px;
  }
  
  .curso-card {
    background: rgba(255,255,255,0.82);
    border-radius: 22px;
    padding: 18px 4px 15px;
    box-shadow: 0 14px 34px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .curso-img {
    height: 250px;
    background: #d9d9d9;
  }
  
  .curso-card h3 {
    font-size: 17px;
    line-height: 1.4;
    padding: 18px 18px 22px;
    font-weight: 500;
  }
  
  /* RESPONSIVE */
  @media (max-width: 1100px) {
    .hero {
      grid-template-columns: 1fr;
      min-height: auto;
      padding-top: 40px;
    }
  
    .hero__title {
      font-size: 52px;
    }
  
    .beneficios-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .servicios-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 700px) {
    .Principal {
      padding: 0 16px 60px;
    }
  
    .hero__title {
      font-size: 38px;
    }
  
    .hero__text {
      font-size: 18px;
    }
  
    .section-title {
      font-size: 34px;
    }
  
    .beneficios-grid,
    .servicios-grid {
      grid-template-columns: 1fr;
    }
  
    .hero__media {
      min-height: 320px;
    }
  }