@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);


.body{
    background-color: aliceblue;
}

.contenido-image {
    display: flex;
    margin-top: 100px;
}
    
.banner-img {
        width: 100%;
        height: 600px;
}
.banner {
    position: relative;
    top: -20px;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.banner img {
    position: absolute;
    animation: slide 6s infinite;
}

.banner img:nth-child(1) {
    animation-delay: 0s;
}

.banner img:nth-child(2) {
    animation-delay: 3s;
}

@keyframes slide {
    50% { opacity: 1; }
    50% { opacity: 0; }
}

#Contenido-para-img {
  position: relative;
  text-align: center;
  top: -450px; 
  left: 0;
  color: #fff;
  z-index: 1;
}


.typewriter-animation1 {
  display: flex;       
  white-space: nowrap;          
  overflow: hidden;             
  border-right: 2px solid rgba(255,255,255,.75); 
  animation: typewriter1 4s steps(var(--steps)) 1 forwards, 
             blinkingCursor 0.75s step-end infinite;       
}

@keyframes typewriter1 {
  from { width: 0; }
  to { width: 25%; }
}

@keyframes blinkingCursor {
  0%, 50% { border-right-color: rgba(255,255,255,.75); }
  51%, 100% { border-right-color: transparent; }
}
.typewriter-animation2 {
  display: flex;       
  white-space: nowrap;          
  overflow: hidden;             
  border-right: 2px solid rgba(255,255,255,.75); 
  animation: typewriter2 4s steps(var(--steps)) 1 forwards, 
             blinkingCursor 0.75s step-end infinite;       
}

@keyframes typewriter2 {
  from { width: 0; }
  to { width: 65%; }
}

.typewriter-animation3 {
  display: flex;       
  white-space: nowrap;          
  overflow: hidden;             
  border-right: 2px solid rgba(255,255,255,.75); 
  animation: typewriter3 4s steps(var(--steps)) 1 forwards, 
             blinkingCursor3 0.75s step-end infinite;       
}

@keyframes typewriter3 {
  from { width: 0; }
  to { width: 50%; }
}


.contenido-texto{
transform: translateX(400px);
}
.contenido-texto1{
transform: translateX(500px);
}
.contenido-texto2{
transform: translateX(380px);
}

.beneficios{
    display: grid;
    margin: 50px auto;
    max-width: 90%;
    text-align: center;
    align-items: center;
    margin-top: -20%;
}
.beneficios>h1 {
    margin-bottom: 2rem;
}
.beneficios-grid {
    columns: 3;
}
.reloj{
    display:flex;
    position: relative;
    width: 90%;
    max-width: 90%;
}
.beneficios-grid h1{
    font-size: 100%;
    font-family: 'robot', 'sans-serif';
    font-weight: 800;
    font-style:initial;
    color: #479184d8;
    box-shadow: 0 1px 0;

}
.beneficios-grid li {
    list-style: none;
    margin-bottom: 1rem;
    height: 10rem;
    padding: 1.5rem;
    background-color: #ffffff;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.18);
}   
.beneficios-grid :hover{
    transform: scale(1.1);
    transition: .5s;
}

.curso1, .curso2, .curso3, .curso4 {
    display: list-item;
    height: 100%;
    margin-top: 0;
    margin-bottom: 5rem;
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.349);
}
.servicios ul li img{
    width: 20%;
}
@media (max-width: 780px) {
    .Principal{
        margin: 20px auto;
        background: linear-gradient(to right, 
        hsla(165, 43%, 41%, 0.37), 
        #3996824f);
    }
    .contenido-image {
        display: flex;
        margin-top: 0%;
        transform: translateY(-50px);
    }
    .contenido-texto1{
        font-size: 10px;
        transform: translatex(160px);
    }
    .contenido-texto{
        font-size: 15px;
        transform: translatex(100px);
    }
    .contenido-texto2{
        font-size: 10px;
        transform: translatex(130px);
    }

    .banner-img {
        width: 100%;
        height: 300px;
    }

    .beneficios {
        padding: 50px;
        text-align: center;
        width: 70%;
        margin-top: -70%;
    }

    .beneficios-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 20px;
    }

    #tex1, #tex2, #tex3, #tex4 {
        display: flex;
        position: relative;
        width: 80%;
        font-size: 10px;
    }           
    
    #banner3, #banner4, #banner5, #banner6{
    width: 5%;
    }

    .curso1, .curso2, .curso3, .curso4 {
    background-color: transparent;
    height: 30%;
    border-radius: 5px;
    border: 5px solid white;
    }

    #text1, .curso1{
    display: flex;
    position: relative;
    left: 0px;
    }

    #banner3{
    position: relative;
    top: 40px;
    left: -75px;
    }

    #text3, .curso3{
    display: flex;
    position: relative;
    left: -30%;
    top: 100px;
    }

    #banner5{
    position: relative;
    top: 40px;
    left: 5px;
    }

    #text2 , .curso2 {
    display: flex;
    position: relative;
    left: 5px;
    top: 100px;
    }
    #banner4{
    position: relative;
    display: flex;
    top: 250px;
    width: 150px;
    left: 50px;
    }

    #text4, .curso4{
    display: flex;
    position: relative;
    left: 5px;
    }
    #banner6{
    position:relative;
    top: 50px;
    width: 150px;
    left: 5px;
    }

    .servicios {
    background-color: aliceblue;
    position: relative;
    display: none;
    margin-top: 20px;
    width: 100%;
    height: 700px;
    }

    #grupo-1 {
    display: flex;
    position: relative;
    transform: translateX(0%);
    }

    #grupo-2 {
    display: flex;
    position: relative;
    top: 350px;
    transform: translateX(-100%); 
    }

    #cambiar:hover {
    color: white;
    }

}

