*{

    font-family: 'robot','sans-serif';
    font-weight: 200;
}
.contenedor{
    display: block;
    align-items: center;
    font-weight: 100;
    max-width: 90%;
    columns: 1;
    margin: 0 auto;
}
.contenedor p{
    position: relative;
    height: 50%;
    max-width: 80%;
    margin-top: 80%;
    text-align:justify;
    margin: 1rem auto;
}
.presentacion{
    display: flex;
    position: relative;
    max-width: 100%;
    height: 15rem;
    background-color: #ffffff;
    padding: 2rem;
    box-shadow: 0 15px 55px rgba(0, 0, 0, 0.331);
    columns: 2;
}
.presentacion p{
    display: flex;
    float: left;
    font-size: 1rem;
    top: 20%;
    max-width: 40%;
    padding: 1rem;
}