.curso-medida-contexto {
    max-width: 700px;
    margin-bottom: 32px;
}
.curso-medida-contexto p{
    font-family: 'robot', 'sans-serif';
}
.intro-texto {
    position: relative;
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    left: 1.5rem;
}

.curso-medida-contexto-2 {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.curso-medida-contexto-2 p{
    font-family: 'robot', 'sans-serif';
}
.contenido-experiencia {
    max-width: 500px;
    width: 100%;
    margin-right: 5rem;
    text-align: justify;
}

.contenido-experiencia h2 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 12px;
}

.contenido-experiencia p {
    font-size: 0.95rem;
    line-height: 1.6;
    margin-bottom: 16px;
}

.cta-titulo {
    margin-top: 32px;
}

.logo-cursomedida{
    display: flexbox;
    width: 25rem;
    position: absolute;
    margin-top: -24rem;
    left: 1.5rem;
}


@media (max-width: 1080px) {
    .curso-medida-contexto-2 {
        justify-content: center;
        padding: 0 16px;
    }
    .logo-cursomedida{
    display: none;
    position: absolute;
    transform: translateY(-500px);
    }
}
