   
html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: sans-serif;
    background-color: white;
}
#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 0;
}
p {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium';
}
a {
    text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium';
}
li {
    list-style: none;
    font-family: 'Franklin Gothic Medium';
}
.btn-cta {
    font-family: 'Franklin Gothic Medium';
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: 700;
}
.logo-principal {
    display: block;
    position: relative;
    width: 300px;
    top: 5px;
    right: -1%;
}
.menu-list-1001-celular{
    display: none;
}
.menu-cabecera-1001 {
    position: absolute;
    top: 20px;
    right: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 17px;
}
.menu-cabecera-1001 li,
.menu-cabecera-1001 a {
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color .3s ease, color .3s ease;
}
.menu-cabecera-1001 a:hover,
.menu-cabecera-1001 li:hover {
    background-color: rgb(60, 114, 131);
    color: #000000;
}
.menu-cabecera-1002 {
    position: relative;
    display: flex;
    width: 100%;
    height: 5rem;
    margin-top: 24px;
    top: -20px;
    font-size: 14px;
    z-index: 2;
}
.menu-cabecera-1002::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgb(245, 242, 239);
    z-index: 2;
}
.menu-cabecera-1002 > * {
    position: relative;
    z-index: 3;
}
.menu-cabecera-1003-columna {
    display: flex;
    left: 340px;
    height: 1rem;
    top: 20px;
    margin: 0;
    padding: 0;
}
.menu-cabecera-1003-columna > li {
    position: relative;
    list-style: none;
}
.menu-cabecera-1003-columna a {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 10px 15px;
    transition: background-color .3s ease, color .3s ease;
}
.menu-cabecera-1003-columna a:hover {
    background-color: rgb(119, 173, 162);
    color: #000;
    border-radius: 4px;
}
.menu-cabecera-1003-columna > li > ul {
    position: absolute;
    top: 2.5rem;
    left: 0;
    column-count: 2;
    column-gap: 30px;
    min-width: 420px;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 6px;
    padding: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s ease;
    z-index: 999;
}
.menu-cabecera-1003-columna > li:hover > ul {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.menu-cabecera-1003-columna ul li {
    list-style: none;
    break-inside: avoid;
}
.menu-cabecera-1003-columna ul li a {
    display: block;
    padding: 8px 12px;
    white-space: normal;
}
.menu-cabecera-1003 {
    display: flex;
    left: 340px;
    height: 1rem;
    top: 20px;
    gap: 0px;
    margin: 0;
    padding: 0;
}
.menu-cabecera-1003 > li {
    position: relative;
    list-style: none;
}
.menu-cabecera-1003 a {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 10px 15px;
    transition: background-color .3s ease, color .3s ease;
}
.menu-cabecera-1003 a:hover {
    background-color: rgb(119, 173, 162);
    color: #000;
    border-radius: 4px;
}
.arrow-down {
    font-size: 10px;
    transition: transform 0.3s ease;
}
.menu-cabecera-1003 li:hover .arrow-down, 
.menu-cabecera-1003-columna :hover .arrow-down{
    transform: rotate(180deg);
}
.menu-cabecera-1003 > li > ul {
    position: absolute;
    top: 2.5rem;       
    left: 0;
    min-width: 2rem;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 6px;
    padding: 10px 0;
    margin: 0;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);

    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s ease;
    z-index: 999;
}
.menu-cabecera-1003 > li:hover > ul {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.menu-cabecera-1003 ul li {
    list-style: none;
}
.menu-cabecera-1003 ul li a {
    padding: 10px 20px;
    white-space: nowrap;
}
.menu-cabecera-1003 ul li ul {
    top: 100%;
    left: 0;
}
.menu-cabecera-1003 ul li ul a {
    display: block;
    transform: translate(0px,0px);
    margin: 0;
    font-size: 0.7rem;
    max-width: 20rem;
    white-space: normal;
    word-break: break-word;
}
.menu-cabecera-1003 ul li ul {
    display: none;
    background: #fff;
}
.menu-cabecera-1003 ul li:hover > ul {
    display: block;
}
.parrafo-final {
    position: relative; 
    background-color: rgb(0, 128, 128);
    color: aliceblue;
    padding: 40px 0;
    top: 50px;
}
.parrafo-102-10,
.parrafo-102-11,
.parrafo-102-12 {
    width: 250px;
}
.parrafo-102-10{
    position: relative;
    top: -140px;
    left: 590px;
}
.parrafo-102-11 {
    position: relative;
    top: -90px;
    left: 590px;
}
.parrafo-102-12 {
    position: relative;
    top: -340px;
    left: 70%;
}
.parrafo-final {
    background-color: rgb(0, 128, 128);
    color: aliceblue;
    padding: 40px 30px;
}
.logo-final {
    position: relative;
    width: 250px;
    margin-bottom: 10px;
    top: 90px;
}
.parrafo-100 {
    position: relative;
    top: 100px;
    max-width: 460px;
    font-size: 18px;
    margin-bottom: 20px;
}
.parrafo-102-10 {
    font-weight: bold;
    top: -160px;
}
.parrafo-102-11,
.parrafo-102-12 {
    max-width: 250px;
    margin-top: 10px;
}
.parrafo-102-11{
    top: -140px;
}
.parrafo-102-12 {
    max-width: 250px;
    top: -375px;
}
.iconos-busqueda{
    position: relative;
    top: 50px;
}
.fondo {
    background-color: rgb(39, 68, 83);
    width: 20px;
    height: 20px;
    border-radius: 6px;
    border: 6px solid rgb(39, 68, 83);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 
    background-color 0.6s ease,
    border-color 0.6s ease,
    transform 2s ease;
}
.fondo:hover{
    background-color: rgb(149, 229, 231);
    border: 6px solid rgb(149, 229, 231);
}
.icon-bob {
    transition: transform 0.3s ease;
}
.icon-bob:hover {
    transform: translateY(-6px);
    background-color: rgb(149, 229, 231); 

}
.header {
display: none;
}
.menu-overlay {
  display: none;
}
.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.footer-copyright span {
    font-size: 1rem;
}
.menu-list-1004{
    display: none;
}

@media (max-width: 800px) {
    .logo-principal {
        width: 140px;
        top: -10px;
        margin-top: 20px;
    }
    .menu-cabecera-1003{
        display: none;
    }
    .menu-cabecera-1003-columna{
        display: none   ;
    }

    .menu-cabecera-1001 {
        display: none;
    }
    .icono-menu-list{
        font-size: 30px;
        cursor: pointer;
    }

    .menu-list-1001-celular {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 88%;
        margin-top: -4rem;
        height: 4rem;
    }

    .menu-list-1001-celular > li {
        position: relative;
        list-style: none;
    }

    .menu-list-1001-celular h1 {
        padding: 10px 15px;
        transition: background-color .3s ease;
    }

    .menu-list-1001-celular h1:hover {
        background-color: rgb(119, 173, 162);
        border-radius: 4px;
    }

    .menu-list-1001-celular > li > ul {
        display: none;
        position: absolute;
        top: 88%;
        right: 0rem;
        width: 18rem;
        height: 50rem;
        padding: 2rem;
        background-position-x: -1;
        background-color: rgba(255, 255, 255, 0.95);
        box-shadow: 0 10px 25px rgba(0,0,0,0.15);
        opacity: 0;
        visibility: hidden;
        z-index: 10;
    }

    .menu-list-1001-celular > li:hover > ul {
        display: block;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transform: translateX(0.8rem);
        transition: all 0.8s ease;
    }

    .menu-list-1001-celular ul li {
        list-style: none;
        padding: 2rem;
        font-weight: 600;
        transition: background-color .3s ease;
    }

    .menu-list-1001-celular ul li:hover{
        background-color: rgba(118, 190, 190, 0.4);
        border-radius: 4px;
    }

    .menu-list-1004{
        display: block;
    }
    .icono-menu{
        position: absolute;
        right: .4rem;
        top: -5rem;
        font-size: 30px;
        cursor: pointer;
        z-index: 3;
    }
    .icono-menu {
        display: block;
        padding: 10px 15px;
        transition: background-color .3s ease, color .3s ease;
    }
    .icono-menu:hover {
        background-color: rgb(250, 250, 250);
        color: #000000;
        border-radius: 4px;
        z-index: 4 ;
        visibility: visible;
    }
    .menu-list-1004-celular {
        display:list-item;
        justify-content: flex-end;
        align-items: center;
        width: 88%;
        margin-top: -2rem;
        height: 4rem;
    }

    .menu-list-1004-celular > li {
        position: relative;
    }

    .menu-list-1004-celular h1 {
        padding: 10px 15px;
        transition: background-color .8s ease;
    }

    .menu-list-1004-celular h1:hover {
        background-color: rgb(119, 173, 162);
        border-radius: 4px;
    }

    .menu-list-1004-celular > li > ul {
        display: none;
        position: absolute;
        right: 0rem;
        left: -1.41rem;
        width: 100%;
        height: 50rem;
        padding: .5rem;
        background-color: rgb(255, 255, 255);
        opacity: 0;
        visibility: hidden;
        z-index: 10;
    }

    .menu-list-1004-celular > li:hover > ul {
        display: block;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transform: translateX(0.8rem);
        transition: all 0.8s ease;
        font-size: 1rem;
    }

    .menu-list-1004-celular ul li {
        list-style: none;
        font-size: 0.5  rem;
        margin-left: -2em;
        padding: 1.5rem;
        font-weight: 600;
        transition: background-color .3s ease;
    }
    .menu-list-1004-celular ul li:hover{
        border-radius: 4px;
        list-style: none;
    }
    .menu-cabecera-1003-2 > li > ul {
        display: none;
        list-style: none;
        top: 2.5rem;       
        left: 0;
        min-width: 2rem;
        background-color: rgba(255, 255, 255);
        border-radius: 6px;
        padding: 10px 0;
        margin: 0;
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
        transition: all 0.3s ease;
        z-index: 999;
    }
    .menu-cabecera-1003-2 > li:hover > ul {
        display:block;
        position: relative;
        opacity: 1;
        visibility: visible;
        transform: translateY(-1.5em);
    }
    .menu-cabecera-1003-2 ul li {
        list-style: none;
    }
    .menu-cabecera-1003-2 ul li a {
        padding: 10px 20px;
        white-space: nowrap;
    }
    .menu-cabecera-1003-2 ul li ul a {
        display: block;
        transform: translate(0px,0px);
        margin: 0;
        font-size: 0.8rem;
        margin-left: 0rem;
        max-width: 100%;
        white-space: normal;
        word-break: break-word;
    }
    .menu-cabecera-1003-2 ul li ul {
        display: none;
        background: #fff;
    }
    .menu-cabecera-1003-2 ul li:hover > ul {
        display: block;
    }
    .menu-cabecera-1003-2 ul > a {
    width: 20px;
    }
    .contenedor-menu-cabecera-1003-2-1 li{
        columns: 2;
    }

    .parrafo-final {
        position: relative; 
        text-align: justify;
        background-color: rgb(0, 128, 128);
        color: aliceblue;
        padding: 40px 0;
    }

    .parrafo-final-contenido{
        margin-top: -5rem;
    }
    .parrafo-102-10,
    .parrafo-102-11,
    .parrafo-102-12 {
        width: 230px;
    }

    .parrafo-102-10{
        position: relative;
        top: 100px;
        left: 5px;
    }
    .parrafo-102-11 {
        position: relative;
        top: 6.5rem;
        left: 5px;
    }

    .parrafo-102-12 {
        position: relative;
        top: 7.5rem;
        left: 5px;
    }
    .parrafo-final {
        top: 30px;
        background-color: rgb(0, 128, 128);
        color: aliceblue;
        padding: 40px 30px;
        height: 800px;
    }

    .logo-final {
        position: relative;
        width: 250px;
        margin-bottom: 10px;
        top: 90px;
    }

    .parrafo-100 {
        position: relative;
        top: 100px;
        max-width: 460px;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .parrafo-102-10 {
        font-weight: bold;
        margin-top: 20px;
    }

    .parrafo-102-11,
    .parrafo-102-12 {
        max-width: 250px;
        margin-top: 10px;
    }
    .footer-copyright {
        text-align: center;
        margin-top: 70%;
        left: 1rem;
        max-width: 92%;
    }
}
